@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.slate.950');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.purple.950');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.purple.800');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1140px) {
  .wrapper {
    max-width: 1140px;
  }
}